* {
  box-sizing: border-box;
}
body {
	font-family: 'Baloo', cursive;
}

p {
	padding: 10px;
}

h2 {
	font-size: 48px;
}


h3 {
	font-size: 28px;
}
.choice-style {
	width: 500px;
    height: 100px;
   	padding: 10px;
   	display: block;

}

.answer-image {
      width: 75px;
      height: 100px;
}